<h1>The Stupid Coach</h1>

<div class="question">
  <h3>"<%= @question %>"</h3>
  <p><em>—You</em></p>
</div>

<div class="answer">
  <h3>"<%= @coach %>"</h3>
  <p><em>—Coach</em></p>
</div>

<br>
<%= link_to 'Ask the stupid coach another question', 'ask' %>
