<h1>Ask your stupid coach something, anything!</h1>

<br>

<form action="/answer" id='form-submit' class='form-horizontal form-group'>
  <input type="text" name="question" class='form-control'>
  <!-- <input type="submit" value="Ask!" class='btn btn-lg btn-primary'> -->
</form>
