// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: 'Helvetica', sans-serif;
  background: rgb(230, 230, 230);
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.question {
  font-size: 20px;
  padding: 20px;

}
.answer {
  font-size: 20px;
  // background: rgb(255, 254, 225);
  padding: 20px;
}

a {
  // color: black;
  // text-decoration: none;
  // display: inline-block;
  // padding: 13px 25px;
  // border: 1px;
  // border-style: solid;
  // margin: 20px;
}

#form-submit {
  font-size: 20px;
}

// .btn-medium {

// }
// .btn-medium:hover {
//   color: rgb(145, 145, 145);
//   border-color: rgb(145, 145, 145);
// }


